---
---

.feedburnerFeedBlock {
  margin: 4ex 0;
}

.feedburnerFeedBlock>ul {
  margin: 0;
  padding: 0;
}

.feedburnerFeedBlock>ul>li {
  list-style: none;
  margin: 2ex 0;
  padding: 0;
}

@media (min-width: 992px) {
  .feedburnerFeedBlock>ul>li {
    width: 50%;
    float: left;
  }

  .feedburnerFeedBlock>ul>li:first-child {
    padding-right: 2em;
  }

  .feedburnerFeedBlock>ul>li:last-child {
    padding-left: 2em;
  }
}

.feed-headlines .headline {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  font-size: 15pt;
  border-bottom: 1px solid #8AB933;
}

.feed-headlines :hover {
  text-decoration: none;
}

.feed-headlines .post-img {
  float: left;
  margin: 0 2em 1ex 0;
  display: none;
}

.feed-headlines #creditfooter {
  display: none;
  visibility: hidden;
  text-align: center;
  margin: 0 auto;
}

