---
---
.hero-unit {
 padding-top: 8ex;
 padding-bottom: 8ex;
 text-align: center;
 background-image: url({{ "/img/bg-08.jpg" | prepend:site.baseurl }});
 background-color: #666;
}

.hero-unit h1 {
 font-family: "Poiret One", sans-serif;
 font-weight: normal;
 text-shadow: none;
}


.google-search table, .google-search td {
 border: 0;
 margin: 0;
 padding: 0;
}

.gsc-search-box {
 margin: 4ex 0 !important;
 padding: 0 !important;
}

.gsc-input {
 text-align: center;
}

#gsc-i-id1 {
 color: black;
 background: white;
 font-size: 14pt;
 margin: 0 !important;
 padding: 1ex 2em;
 text-align: left;
 background-position: 2em center !important;
 border-radius: 3ex;
}

#gsc-i-id1, #gsc-i-id1:focus {
 box-shadow: none;
}

.gsc-search-button, .gsc-clear-button {
 display: none;
}
