---
---
@import url(paper.css);
{% if site.production %}@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Montserrat|Poiret+One);{% else %}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(/local/gfonts/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/local/gfonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/local/gfonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(/local/gfonts/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
{% endif %}

.container {
 max-width: 60em;
}

html, body, table {
 font-family: 'Open Sans', Verdana, sans-serif;
 font-size: 12pt;
}

h1, h2, h3 {
 font-family: 'Open Sans', Arial, sans-serif;
 font-weight: normal;
 color: #8AB933;
}

.navbar {
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
 margin-bottom: 0;
}

.navbar-brand {
 padding-top: 0;
}

.navbar-brand a {
 background: transparent url({%if site.production %}https://lh3.googleusercontent.com/YGSPr0TEwm2wM7SVfQvxoyu_Ed0WRPZHb_vbQx2DZfv_r34tqJ5PqwfU3CCUQhrQ9dNu2SiXaR0k7VNeP41UnhiHxI96skOollWwe94JltvqikoDVPJBIC4uf0qOfkfoFe3g-PGEmi82ItV_Gq0jFJwmSy4Zkcnfa10WDuwtH_2rXyC2Ptq4K_9gEGBwuLyMPFERpy89wg2tXy1WMCfa6oK7K1ibLYcfMkhWXVcAC8IklIvPKZlq2c4vUF4zTxZ6sZhuqCImlCNjLotB8aIiaoPi_CfRJqWmhTtEtbsQbj_2Y4a3II8P52JzuLpNLq1angDKl1C81RsxBiE2eUzkrOhV_GBg5D4WsoqXXN4GinFWcVLox-qhi0iBpaacl7m7ZiYNPD89VpsFihp0D-eCgv0M7ParTeNC6hh982cyAtVyBMOfbuLcwpy0E8YhA1PWKlJH3jtswoxSn7Mqh-pSFEWfFga_11IXLwFWMn_ShPzKHalEAOUQTByoeC9j_ivLLFJiuUZD4wqQT84MKaDJ4CzxuH48grX1NdOuhuvJSp1i6vTjGc8qbYGsGwXWyQq685hV=w100-h50-no{% else %}{{ "/local/logo-light.png" | prepend:site.baseurl }}{% endif %}) no-repeat left top;
 /*background: transparent url({%if site.production %}http://lh6.googleusercontent.com/-41gKZajBwdw/T_RwaMCxBpI/AAAAAAAAAjw/Bvl1aGTVWRE/s800/logo-dark.png{% else %}{{ "/local/logo-dark.png" | prepend:site.baseurl }}{% endif %}) no-repeat left top; */
 display: block;
 width: 100px;
 height: 50px;
 margin: 0;
 padding: 0;
}

.navbar-brand span {
 display: none;
}


.navbar-nav a {
 border-top: 2px solid white;
 transition: border-color 500ms ease, color 500ms ease;
}

.navbar-nav a:hover {
 border-top-color: #22D;
}


.site-footer {
 border-top: 1px solid #EEE;
 padding-top: 3ex;
 padding-bottom: 2ex;
 color: #666;
}

.site-footer .copyright {
 text-align: center;
 font-family: Verdana, sans-serif;
 font-size: 9pt;
 letter-spacing: 2pt;
}

/* Hero unit */
.hero-unit {
 background-color: #22D;
 background-size: cover;
 background-repeat: none;
 background-position: center;
 color: #FFF;
 text-shadow: 0 0 4pt #000;
 padding-top: 4ex;
 padding-bottom: 4ex;
}

.hero-unit-bg {
 background-size: auto;
 background-image: url({{ "/img/bg-01.png" | prepend:site.baseurl }});
 background-repeat: repeat;
}

.hero-unit .darken {
 background-color: rgba(0,0,0, 0.8);
 margin: 2ex 0;
 padding: 2ex 2em;
 border-radius: 40px;
}

.hero-unit .toright {
 float: right;
 margin: 10px 0 10px 10px;
}

.hero-unit header {
 margin: 4ex 0;
}

.hero-unit h1, .hero-unit h2, .hero-unit h3 {
 font-family: Montserrat, Arial, sans-serif;
 font-weight: normal;
}

.hero-unit h1 {
 color: #FFF;
 font-size: 45pt;
 letter-spacing: -1pt;
 line-height: 1;
 margin-bottom: 0;
}

.hero-unit h2 {
 color: #FFF;
 font-size: 19pt;
}

.hero-unit p {
 font-size: 15pt;
 margin: 0;
}


/******************************************************************************
  Features
 ******************************************************************************/
.feature-box {
 padding-top: 4ex;
 padding-bottom: 4ex;
 background-color: #F8F8F8;
}

.feature-box h1 {
 margin-bottom: 2ex;
 text-align: center;
 color: #555;
 font-family: 'Poiret One', Arial, sans-serif;
 font-size: 30pt;
 letter-spacing: 2pt;
}

.feature-icon {
 margin-left: auto;
 margin-right: auto;
 display: block;
}

.feature-item h2 {
}

.feature-item article {
 background: white;
 border-radius: 5%;
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
 margin-top: 1ex;
 margin-bottom: 1ex;
 padding: 2ex;
}

