---
---
@import url(paper.css);
{% if site.production %}@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Montserrat|Poiret+One);{% else %}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(/local/gfonts/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/local/gfonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/local/gfonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(/local/gfonts/HrI4ZJpJ3Fh0wa5ofYMK8RsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
{% endif %}

.container {
 max-width: 60em;
}

html, body, table {
 font-family: 'Open Sans', Verdana, sans-serif;
 font-size: 12pt;
}

h1, h2, h3 {
 font-family: 'Open Sans', Arial, sans-serif;
 font-weight: normal;
 color: #8AB933;
}


blockquote {
 color: #555;
 font-family: Arial, Helvetica, sans-serif;
 font-style: italic;
 border-left-color: #338AB9;
}

blockquote .autor {
 color: #333;
 margin-top: 2ex;
 text-align: right;
 font-family: Georgia, serif;
 font-size: 11pt;
}

aside blockquote {
 font-size: 11pt;
}

img.toleft {
 margin: 0 1em 2ex 0;
 border-radius: 8px;
 float: left;
}


ul, dl {
 list-style: url({% if site.production %}http://www.websitebullets.com/bullet/433/4.gif{% else %}/local/img/bullet/433/4.gif{% endif %});
}

dl {
 margin: 3ex 2em;
}

dt {
 margin: 1.5em 0 0.25ex;
 font-weight: bold;
 display: list-item;
 list-style-position: outside;
}

dd, dd li {
}

table {
 border: 1px solid #801572;
 border-collapse: collapse;
 margin: 4ex auto;
}

th, td {
 padding: 1ex 1.5em;
 border: 1px solid #801572;
}


.navbar {
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
 margin-bottom: 0;
}

.navbar-brand {
 padding-top: 0;
}

.navbar-brand a {
 background: transparent url({%if site.production %}https://lh3.googleusercontent.com/YGSPr0TEwm2wM7SVfQvxoyu_Ed0WRPZHb_vbQx2DZfv_r34tqJ5PqwfU3CCUQhrQ9dNu2SiXaR0k7VNeP41UnhiHxI96skOollWwe94JltvqikoDVPJBIC4uf0qOfkfoFe3g-PGEmi82ItV_Gq0jFJwmSy4Zkcnfa10WDuwtH_2rXyC2Ptq4K_9gEGBwuLyMPFERpy89wg2tXy1WMCfa6oK7K1ibLYcfMkhWXVcAC8IklIvPKZlq2c4vUF4zTxZ6sZhuqCImlCNjLotB8aIiaoPi_CfRJqWmhTtEtbsQbj_2Y4a3II8P52JzuLpNLq1angDKl1C81RsxBiE2eUzkrOhV_GBg5D4WsoqXXN4GinFWcVLox-qhi0iBpaacl7m7ZiYNPD89VpsFihp0D-eCgv0M7ParTeNC6hh982cyAtVyBMOfbuLcwpy0E8YhA1PWKlJH3jtswoxSn7Mqh-pSFEWfFga_11IXLwFWMn_ShPzKHalEAOUQTByoeC9j_ivLLFJiuUZD4wqQT84MKaDJ4CzxuH48grX1NdOuhuvJSp1i6vTjGc8qbYGsGwXWyQq685hV=w100-h50-no{% else %}{{ "/local/img/logo-light.png" | prepend:site.baseurl }}{% endif %}) no-repeat left top;
 /*background: transparent url({%if site.production %}http://lh6.googleusercontent.com/-41gKZajBwdw/T_RwaMCxBpI/AAAAAAAAAjw/Bvl1aGTVWRE/s800/logo-dark.png{% else %}{{ "/local/img/logo-dark.png" | prepend:site.baseurl }}{% endif %}) no-repeat left top; */
 display: block;
 width: 100px;
 height: 50px;
 margin: 0;
 padding: 0;
}

.navbar-brand span {
 display: none;
}


.navbar-nav a {
 border-top: 2px solid white;
 transition: border-color 500ms ease, color 500ms ease;
}

.navbar-nav a:hover, .navbar-nav .active {
 border-top-color: #22D;
}

.navbar-nav .active {
 font-weight: bold;
}


.site-footer {
 border-top: 1px solid #EEE;
 padding-top: 3ex;
 padding-bottom: 2ex;
 color: #666;
}

.site-footer .copyright {
 text-align: center;
 font-family: Verdana, sans-serif;
 font-size: 9pt;
 letter-spacing: 2pt;
}

.toright {
 float: right;
 margin-left: 1ex;
}


/* Hero unit */
.hero-unit {
 background-color: #22D;
 background-size: cover;
 background-repeat: none;
 background-position: center;
 color: #FFF;
 text-shadow: 0 0 4pt #000;
 padding-top: 8ex;
 padding-bottom: 4ex;
}

.hero-unit-bg {
 background-size: auto;
 background-image: url({{ "/img/bg-01.png" | prepend:site.baseurl }});
 background-repeat: repeat;
}

.hero-unit-arte {
 background-image: url({% if site.production %}http://www.freewebheaders.com/wordpress/wp-content/gallery/artistic-abstract/colorful-watercolor-paint-abstract-website-header.jpg{% else %}{{ "/local/img/colorful-watercolor-paint-abstract-website-header.jpg" | prepend:site.baseurl }}{% endif %});
 background-color: #F8672C;
}

.hero-unit-articulos {
 background-image: url({% if site.production %}http://www.lgm.ac-grenoble.fr/wordpress/wp-content/uploads/2013/11/tumblr_static_neon1.jpg{% else %}{{ "/local/img/tumblr_static_neon1.jpg" | prepend:site.baseurl }}{% endif %});
}

.hero-unit-relatos {
 background-image: url({{ "/img/bg-05.jpg" | prepend:site.baseurl }});
}

.hero-unit .darken {
 background-color: rgba(0,0,0, 0.5);
 margin: 0 0 -4ex;
 padding: 2ex 2em;
}

.hero-unit-img {
 float: right;
 margin: 10px 0 10px 10px;
 display: block;
 max-width: 100%;
 height: auto;
}

@media (max-width: 992px) {
 .hero-unit-img {
  float: none;
  display: block;
  margin: 10px auto;
 }
}

.hero-unit h1, .hero-unit-subtitle {
 font-family: Montserrat, Arial, sans-serif;
 font-weight: normal;
 color: #FFF;
}

.hero-unit-light {
 background-color: transparent;
 text-shadow: 0 0 4pt #FFF;
}

.hero-unit-light h1, .hero-unit-light .hero-unit-subtitle {
 color: #333;
}

.hero-unit h1 {
 font-size: 45pt;
 letter-spacing: -1pt;
 line-height: 1;
 margin-top: 0;
 margin-bottom: 12pt;
}

.hero-unit-body {
 margin-bottom: 4ex;
}

.hero-unit-subtitle {
 font-size: 19pt;
 margin-bottom: 2.25ex;
}

.hero-unit p {
 font-size: 15pt;
 margin: 0;
}


/******************************************************************************
  Features
 ******************************************************************************/
.feature-box {
 padding-top: 4ex;
 padding-bottom: 8ex;
 background-color: #F8F8F8;
}

.feature-box h1 {
 margin-bottom: 2ex;
 text-align: center;
 color: #555;
 font-family: 'Poiret One', Arial, sans-serif;
 font-size: 30pt;
 letter-spacing: 2pt;
}

.feature-icon, .feature-icon-responsive {
 margin-left: auto;
 margin-right: auto;
 display: block;
}

.feature-icon-responsive {
 max-width: 100%;
 height: auto;
}

@media (min-width: 992px) {
  .feature-icon-responsive {
    width: auto;
    height: 200px;
  }
}

.feature-item h2 {
}

.feature-item-body {
 background: white;
 border-radius: 1ex;
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
 margin-top: 1ex;
 margin-bottom: 1ex;
 padding: 2ex;
}


.lista-posts {
 margin-top: 4ex;
 margin-bottom: 4ex;
}

/******************************************************************************
  Detalles
 ******************************************************************************/
.post {
 margin-top: 8ex;
 margin-bottom: 4ex;
}

.post-meta {
 margin-bottom: 3ex;
 font-weight: bold;
 font-size: 10pt;
 letter-spacing: 2pt;
}

.post-body {
 max-width: 42em;
}

.post-body h1, .post-body h2, .post-body h3 {
 margin-top: 2ex;
 color: #338AB9;
 font-weight: 300;
}

.post-body h1 {
 margin-top: 2.5ex;
}

.post-body h1:first-child {
 margin-top: 0;
}

.post .first {
 margin-top: 0;
}

.post-body p {
 margin-bottom: 3ex;
 line-height: 165%;
}

ul.Caracteristicas {
 list-style: url({% if site.production %}http://www.websitebullets.com/bullet/859/3.gif{% else %}/local/img/bullet/859/3.gif{% endif %});
}

.lista-posts ul {
 list-style: url({% if site.production %}http://www.websitebullets.com/bullet/433/1.gif{% else %}/local/img/bullet/433/1.gif{% endif %});
}

.post-body ul p, .post-body li {
 margin-bottom: 1.5ex;
}

.post-sidebar {
}

.post-sidebar h1 {
 font-size: 16pt;
}


.post-body .first .cap {
 display: inline-block;
 float: left;
 vertical-align: top;
 margin: 0.5ex 0.2ex 0.2ex 0;
 font-size: 8ex;
}


.post-body .last:after {
 content: " \2666";
 font-weight: bold;
 color: #AAA;
}

.post-body img {
 border-radius: 8px;
}

.post-body .icon {
 border-radius: 0;
}

.post-body .post-img {
 display: inline-block;
 float: right;
 margin: 0 0 0.25ex 1em;
}


.post-body p.Pregunta {
 font-weight: bold;
 margin: 5ex 0 1ex;
 text-indent: 0;
}

.post-body p.Respuesta {
 text-indent: 0;
 margin: 1ex 0;
}

.post-body div.Queja, .post-body p.Queja {
 font-weight: bold;
}

.post-body p.DialogoPersonaA {
 font-weight: bold;
 text-indent: 0;
}

.post-body p.DialogoPersonaB {
 font-style: italic;
 text-indent: 0;
}

.definiciones {
 border: 0;
 border-top: 1px solid #801572;
}

.definiciones th {
 text-align: right;
 vertical-align: top;
}

.definiciones th, .definiciones td {
 border: 0;
 border-bottom: 1px solid #801572;
}


/* Arte NUP */
.post-img a {
 display: block;
 overflow: hidden;
 position: relative;
 border: 1px solid #338AB9;
 text-align: center;
 padding: 0.75ex;
 border-radius: 1ex;
 font-size: 10pt;
 font-style: italic;
}

.post-img a:hover {
 text-decoration: none;
 border-color: black;
 color: black;
 box-shadow: 0 0 1ex #338AB9;
}

.post-img a img {
 margin-right: auto;
 margin-bottom: 1ex;
 margin-left: auto;
}


.post-img a, span.rollover {
 transition-duration: 1s;
 -o-transition-duration: 1s;
 -moz-transition-duration: 1s;
 -webkit-transition: -webkit-transform 1s;
}

span.rollover {
 opacity: 1;
 background: url({{ "/img/mag.png" | prepend:site.baseurl }}) center center no-repeat #000;
 cursor: pointer;
 height: 100%;
 width: 100%;
 position: absolute;
 left: 0;
 top: 0;
 z-index: 10;
 opacity: 0;
}

.post-img a:hover span.rollover {
 opacity: .7;
}

.post-img {
 margin-bottom: 4ex;
}

@media (max-width: 992px) {
  .post-img {
   padding: 0;
  }

  .post-img a {
   border: 0;
   border-left: 0;
   border-right: 0;
   border-radius: 0;
   box-shadow: none;
  }

  .post-img a:hover {
   box-shadow: none;
  }
}

.paginator {
 text-align: center;
 margin-top: 4ex;
 margin-bottom: 4ex;
}


/*
  Galería de imágenes.
*/
.galeria {
 margin-top: 8ex;
}

.galeria .post-img a {
 display: block;
 text-align: center;
 height: 100px;
}

.galeria .post-img img {
 margin-left: auto;
 margin-right: auto;
}

.galeria-thumbnail-title {
 display: block;
 text-align: center;
 font-size: 10pt;
 font-style: italic;
 margin-top: 1ex;
 height: 4ex;
 overflow: ellipsis;
}


.galeria .copete {
 text-align: center;
 margin-bottom: 6ex;
}



/*
  Proyecto NUP 2012
*/
.Fuente {
 text-align: center;
}

.ExpliArchivo, .ExpliArchivo:link, .ExpliArchivo:visited {
 display: inline-block;
 color: black;
 background: url({% if site.production %}http://lh5.googleusercontent.com/-2MEHAXGZVNI/UAHzEb8-k2I/AAAAAAAAAsc/elLTHnDAo4I/s800/scroll-bg.png{% else %}{{ "/local/img/scroll-bg.png" | prepend:site.baseurl }}{% endif %}) no-repeat top left;
 text-decoration: none;
 font-family: Georgia, Times New Roman, serif;
 font-style: italic;
 font-weight: normal;
 font-size: 14px;
 width: 188px;
 height: 96px;
 text-indent: 0;
 text-align: center;
 letter-spacing: 3px;
}

a.ExpliArchivo:hover {
 color: red;
}

.ExpliArchivo span {
 display: block;
 margin: 0;
 padding: 31px 25px;
 line-height: 17px;
}

.Firma {
 text-align: right;
 text-indent: 0;
 font-style: italic;
}

.FinCuento {
 text-indent: 0 !important;
 text-align: center;
 margin: 6ex 0 3ex !important;
 font-size: 21pt;
 font-style: italic;
 font-family: Georgia, Times New Roman, serif;
 font-weight: bold;
 letter-spacing: 0.4ex;
}


.seccion_relatos .post-body {
 max-width: 34em;
 margin: 1ex auto 0;
 padding: 0;
 font-family: 'Gentium Basic', Georgia, serif;
 font-size: 14pt;
 line-height: 21pt;
 color: #222;
}

.seccion_relatos .post-body p {
 text-indent: 2em;
}

.seccion_relatos .post-body p.first {
 text-indent: 0;
}

.seccion_relatos .post-body hr {
 border: 0;
 background: url(http://lh6.googleusercontent.com/-WBpdL2wae5k/UAMpCeVdh4I/AAAAAAAAAvo/j7-FKzkMgek/s800/flourish.png) no-repeat center center;
 width: 102px;
 height: 35px;
 margin: 9ex auto;
}


.post-body .copete {
 background-color: #FFFEDA;
 background: -moz-linear-gradient(center top, #FEFCAF, #FFFEDA);
 background: -webkit-gradient(linear, center top, center bottom, color-stop(0, #FEFCAF), color-stop(1, #FFFEDA));
 box-shadow: 0 0 3px #DDD;
 border-radius: 8px;
 
 padding: 3ex 2.5em;
 margin-bottom: 3ex;

 text-indent: 0;
 font-style: italic;
}


.foto {
 background-color: white;
 border: 1px solid #DDD;
 border-radius: 3px !important;
 padding: 9px;
 box-shadow: 3px 3px 4px #DDD;
 margin-bottom: 1ex !important;
 text-indent: 0;
}

.zoom {
 display: inline-block;
 text-indent: 0;
 padding: 9px 9px 39px 9px;
 background: white url(http://lh3.googleusercontent.com/-iQcyHq4czic/T_76w5QJBoI/AAAAAAAAAn0/ta-ONmlLaq4/s800/icon-zoom-hover.png) no-repeat center bottom;
 border: 1px solid #DDD;
 border-radius: 0.5ex;
 box-shadow: 0 0 8px 1px #DDD;
}

.zoom:hover {
 box-shadow: 0 0 4px #1CA1CF;
 border-color: #1CA1CF;
 background-image: url(http://lh5.googleusercontent.com/-BBotvu86cnc/T_72ARbRudI/AAAAAAAAAnk/OmZ4NHTuKH8/s800/icon-zoom.png);
 transition: 1s;
}

.zoom img {
 border-radius: 0.25ex;
}

.izquierda {
 float: left;
 margin: 0 1em 1ex 0 !important;
}

.derecha {
 float: right;
 margin: 0 0 1ex 1em !important;
}

.centro {
 margin: 1ex auto !important;
 text-align: center;
 text-indent: 0 !important;
}


