---
layout: bare
title: "Arte NUP"
header: |
  <link rel="stylesheet" type="text/css" href="/css/hero/artattack.css">
---
<main>
{% comment %}
<header class="hero-unit hero-unit-arte">
  <div class="darken">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</header>
{% endcomment %}
{% include hero/artattack.html type="header" link=false %}

<div class="galeria">
  <div class="container">
    <p class="copete"><a class="btn btn-info btn-lg" href="expli_arte.html">&iquest;Qu&eacute; es el Arte NUP?</a></p>
    <div class="row">
    {% for post in site.categories.arte %}
      <div class="post-img col-xs-6 col-md-3 col-lg-2">
        <a href="{{ post.url }}" data-lightbox="nupimage1" data-title="{{ post.title }}">
          <span class="rollover"></span>
          <img src="{{ post.nup_tmb_src }}" class="img-responsive" alt="{{ post.subtitle }}">
        </a>
        <span class="galeria-thumbnail-title">{{ post.title }}</span>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
</main>
