<footer class="site-footer">
  <div class="container">
    <p class="copyright">Copyright &copy; 2003-2016 Nintendo Un Pomo - Todos los derechos reservados</p>
  </div>
</footer>
{% if site.production %}<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>{% if page.use_lightbox or layout.use_lightbox %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>{% endif %}<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-278280-5', 'auto');
  ga('send', 'pageview');
</script>
<script src="https://form.jotformz.com/static/feedback2.js?3.3.REV" type="text/javascript">
document.getElementById('nup-contact-form').onclick = function() { return false; };
var JFL_61006851451650 = new JotformFeedback({ formId: '61006851451650', base: 'https://form.jotformz.com/', windowTitle: 'Formulario de contacto', background: '#FFA500', fontColor: '#FFFFFF', type: 'false', height: 500, width: 700, openOnLoad: false });
</script>{% else %}<script type="text/javascript" src="{{ "/local/jquery-1.11.2.min.js" | prepend:site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/local/bootstrap.min.js" | prepend:site.baseurl }}"></script>{% if page.use_lightbox or layout.use_lightbox %}
<script type="text/javascript" src="{{ "/local/lightbox2-2.8.2/js/lightbox.min.js" | prepend:site.baseurl }}"></script>{% endif %}{% endif %}
