{% assign nombre_seccion = page.url | replace:'/',' ' | strip | split:' ' | first %}<header class="site-header">
  <nav class="navbar navbar-static-top navbar-default">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Alternar navegaci&oacute;n</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a href="{% if site.production %}{{ site.baseurl | prepend:site.url }}{% else %}{{ site.baseurl | append:"/" }}{% endif %}" title="{{ site.title }}"><span>{{ site.title }}</span></a>
        </div>
      </div>
      <div id="navbar-collapse" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li role="presentation"><a role="button" {% if nombre_seccion == "arte" %}class="active" {% endif %}href="/arte">Arte</a></li>
          <li role="presentation"><a role="button" {% if nombre_seccion == "relatos" %}class="active" {% endif %}href="/relatos">Relatos</a></li>
          <li role="presentation"><a role="button" {% if nombre_seccion == "articulos" %}class="active" {% endif %}href="/articulos">Art&iacute;culos</a></li>
          <li role="presentation"><a role="button" href="http://blog.nupi.tk">Blog</a></li>
          <li role="presentation"><a role="button" id="nup-contact-form" href="https://form.jotformz.com/61006851451650" class="lightbox-61006851451650">Contacto</a></li>
          <li role="presentation"><a role="button" {% if nombre_seccion == "search.html" %}class="active" {% endif %}href="/search.html">Buscar</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>
