---
layout: bare
nup_tmb_width: 240
use_lightbox: true
use_typicons: true
---
<main>
  <article class="seccion_arte">

    <header class="hero-unit hero-unit-arte">
      <div class="darken">
        <div class="container">
          <h1>{{ page.title }}</h1>{% if page.subtitle %}
          <div class="hero-unit-subtitle">{{ page.subtitle }}</div>{% endif %}
        </div>
      </div>
    </header>

    <div class="post">
      <div class="container">
        <div class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>
        <div class="row">
          <div class="post-img col-md-4">
            <a href="{{ page.nup_img_src }}" data-lightbox="nupimage1" data-title="{{ page.title }}">
              <span class="rollover"></span>
              <img src="{{ page.nup_img_src }}" class="img-responsive" alt="">
              <span>Click para agrandar</span>
            </a>
          </div>

          <div class="col-md-8">
            <section class="post-body">
            {{ content }}
            </section>
{% include snip-paginator.html add_index="/arte" %}{% if site.production %}
            <section class="post-comments">
              <div id="disqus_thread"></div>
              <script>
                  var disqus_config = function () {
                      this.page.url = '{{ page.url | prepend:site.baseurl | prepend:site.url }}';
                      this.page.identifier = '{{ page.id }}';
                  };
                  (function() {
                      var d = document, s = d.createElement('script');
                      
                      s.src = '//nup.disqus.com/embed.js';
                      
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </section>{% endif %}
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .post -->

  </article>
</main>
