---
layout: bare
---
<main>
  <article class="seccion_{{ page.categories | first }}">

    <header class="hero-unit{% if page.nup_hero_unit_type %} {{ page.nup_hero_unit_type }}{% else %} hero-unit-bg{% endif %}">
      {% if page.nup_hero_unit_layer1 %}<div class="{{ page.nup_hero_unit_layer1 }}">{% endif %}
      <div class="container">
        {% if page.nup_hero_unit_layer2 %}<div class="{{ page.nup_hero_unit_layer2 }}">{% endif %}
        <h1>{{ page.title }}</h1>{% if page.subtitle %}
        <div class="hero-unit-subtitle">{{ page.subtitle }}</div>{% endif %}
        {% if page.nup_hero_unit_layer2 %}</div>{% endif %}
      </div>
      {% if page.nup_hero_unit_layer1 %}</div>{% endif %}
    </header>

    <div class="post{% if page.nup_main_type %} {{ page.nup_main_type }}{% else %}{% if layout.nup_main_type %} {{ layout.nup_main_type }}{% endif %}{% endif %}">
      <div class="container">
        {% comment %}<div class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</div>{% endcomment %}
        <div class="post-body">
          {{ content }}
        </div>
      </div>
    </div>

  </article>
</main>
