---
layout: bare
title: "Art&iacute;culos"
header: |
  <link rel="stylesheet" type="text/css" href="/css/seccion-index.css">
  <link rel="stylesheet" type="text/css" href="/css/hero/monkeypress.css">
---
<main>
{% comment %}
<header class="hero-unit hero-unit-articulos">
  <div class="darken">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</header>
{% endcomment %}
{% include hero/monkeypress.html type="header" link=false %}
<section class="lista-posts">
  <div class="container">
{% include snip-index-seccion-sindesc.html category=site.categories.articulos %}
  </div>
</section>
</main>

